$font-primary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
	'Lucida Sans', Arial, sans-serif;
$font-secondary: Georgia, 'Times New Roman', Times, serif;

$color-1: #2e364d;
$color-2: #425d87;
$color-3: #7d95de;
$color-4: #ddc8f9;
$color-5: #fbfef9;
